* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #8e1e1e;
  font-family: "Afacad";
  background-image: url(Pictures_Source/Background1.png);
}

@font-face {
  font-family: "Afacad";
  src: url("fonts/subset-Afacad-Regular.woff2") format("woff2"),
    url("fonts/subset-Afacad-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Afacad";
  src: url("fonts/subset-Afacad-Bold.woff2") format("woff2"),
    url("fonts/subset-Afacad-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Afacad";
  src: url("fonts/subset-Afacad-Italic.woff2") format("woff2"),
    url("fonts/subset-Afacad-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Afacad";
  src: url("fonts/subset-Afacad-Medium.woff2") format("woff2"),
    url("fonts/subset-Afacad-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Afacad";
  src: url("fonts/subset-Afacad-SemiBold.woff2") format("woff2"),
    url("fonts/subset-Afacad-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* HEADER CSS*/
header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: #f5f5f5;
  font-size: 18px;
  text-decoration: none;
}

.NavBrand:hover,
.NavLink:hover {
  color: #ffcc47;
}

.NavBrand,
.NavLink {
  color: #f5f5f5;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s, box-shadow 0.3s;
}

.NavBar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.NavMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  transition: 0.3s ease-in-out;
}

.NavBrand {
  font-size: 2rem;
  transition: 0.3s ease;
}

.LeftSide {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Logo {
  width: 40px;
}

.Hamburger {
  display: none;
  cursor: pointer;
}

.Bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #f5f5f5;
  transition: 0.3s ease-in-out;
}

.ShortText {
  display: none;
}

.main-content {
  flex: 1;
}

/*FOOTER CSS */
.Footer {
  background-color: #f5f5f5;
  padding: 30px;
  margin-top: auto;
}

footer a {
  color: black;
}

.BottomFooter {
  background-color: #5c0409;
}

.FooterContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LeftFooter,
.CenterFooter,
.RightFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LogoContainer {
  display: flex;
  align-items: center;
}

.FooterLogo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.FooterText h3,
h2 {
  color: black;
  margin: 0;
  text-align: left;
}

.FooterButton a {
  color: black;
  text-decoration: none;
}

.FooterButton {
  color: black;
  background-color: #f5f5f5;
  border: 2px solid #ffcc47;
  padding: 12px 30px;
  border-radius: 12px;
  transition-duration: 0.3s;
}

.FooterButton:hover {
  background-color: #ffcc47;
  color: #f5f5f5;
}

.BottomFooter {
  color: #f5f5f5;
  text-align: center;
  padding: 4px;
}

/* MEDIA CSS */
@media (max-width: 1200px) {
  .ShortText {
    display: inline-block;
  }

  .FullText {
    display: none;
  }

  .NavLink {
    font-size: 14px;
  }

  .NavBrand {
    font-size: 0.7rem;
  }
}

@media (max-width: 930px) {
  .ShortText {
    display: inline-block;
  }

  .FullText {
    display: none;
  }

  .NavBrand {
    font-size: 0;
  }

  .NavBrand::before {
    visibility: visible;
    font-size: 1.5rem;
    color: #f5f5f5;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    margin-left: 5px;
  }

  .Hamburger {
    display: block;
  }

  .NavMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: rgba(92, 4, 9, 0.9);
    width: 100%;
    padding: 10px 0;
    gap: 20px;
  }

  .NavMenu.active {
    display: flex;
  }

  .Hamburger.active .Bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .Hamburger.active .Bar:nth-child(2) {
    opacity: 0;
  }

  .Hamburger.active .Bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 1200px) {
  .NavLink {
    font-size: 14px;
  }

  .NavBrand {
    font-size: 1.5rem;
  }
}

@media (max-width: 1400px) {
  .NavLink {
    font-size: 16px;
  }

  .NavBrand {
    font-size: 1.5rem;
  }
}

.line {
  color: rgb(240, 229, 182);
  position: relative;
  text-align: center;
  width: 92%;
  margin: auto;
}

.line hr.GoldLine {
  border: none;
  border-top: 2px solid #ffcc47;
  margin: 0;
  position: relative;
  width: 100%;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: #ffcc47;
}

.line::before {
  left: -5px;
}

.line::after {
  right: -5px;
}
