.Section1 {
  background-image: url(https://scontent.fcrk2-4.fna.fbcdn.net/v/t39.30808-6/462210609_3649540755357351_8219198061380005814_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeF_I0LkrG8ISGudCjvjYZrzPMR3m_berI48xHeb9t6sjpSkjQatYPgkfMgLH0IHsrM8-XzkEmq3gCNxas7G4xSl&_nc_ohc=EI6RAWNMm4cQ7kNvgGFhEQB&_nc_zt=23&_nc_ht=scontent.fcrk2-4.fna&_nc_gid=AK5iEW9mKw9fv3gvsGDi_ZG&oh=00_AYAhtEXuSPXgM8MiQDWWugIiud6R-pm3fO9uRK9VBMKYew&oe=675C3F1C);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-color: #f4f4f4;
}
.Titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
}

.title1,
.title2 {
  filter: contrast(300%);
  color: white;
  font-size: 5rem;
  text-shadow: 7px 6px 10px rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 4px black;
  margin: 10px 0;
}

.title2 {
  font-size: 3rem;
  -webkit-text-stroke: 3px black;
}

.Section2 {
  background-color: #8e1e1e;
  padding: 50px 20px;
}

.Paragraph1 {
  color: white;
  text-align: justify;
  font-size: 25px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.Paragraph2 {
  color: white;
  text-align: justify;
  font-size: 25px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.Paragraph3 {
  color: white;
  text-align: justify;
  font-size: 25px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.Paragraph4 {
  color: white;
  font-size: 25px;
  text-align: left;

  margin-bottom: 2rem;
}

.LinkButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffcc47;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.LinkButton:hover {
  box-shadow: 0 0 20px 5px #e9e9e9fb;
  transform: scale(1.05);
}

/*hr*/

.line {
  color: rgb(240, 229, 182);
  position: relative;
  text-align: center;
  top: 40px;

  width: 92%;
  margin: auto;
}
.line hr {
  border: none;
  border-top: 3px solid #ffcc47;
  margin: 0px;
  position: relative;
  width: 100%;
}
.line::before,
.line::after {
  content: "";
  position: absolute;
  top: 60%;
  transform: translateY(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: #ffcc47;
}
.line::before {
  left: 0;
}
.line::after {
  right: 0;
}

.Paragraph p {
  text-align: center;
}

.content {
  text-align: center;
}
